body {
  background-color: beige;
}

.weather-tool {
  border: 1px solid black;
  border-radius: 10px;
  background-color: green;
  width: 100%;
  max-width: 500px;
}

.show-weather-button {
  margin-bottom: 20px;
}

.weather-container {
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .dashboard {
    grid-template-columns: 1fr;
  }
  .weather-container {
    grid-row: 1;
  }
}

.hide-weather-button {
  background-color: red;
  border-color: red;
}

.weather-info {
  font-size: smaller;
  display: flex;
  gap: 30px;
}

.weather-data {
  padding-left: 10px;
  margin-bottom: 10px;
}

.nation-weather {
  margin-top: 10px;
}

.task-editor-container {
  border: 1px black solid;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  width: 95%;
  max-width: 500px;
}

.editor {
  min-width: 50%;
  min-height: 50px;
}

.task-condition,
.task-action {
  margin-top: 20px;
}

.task-summary {
  margin-top: 50px;
}

.task-condition,
.task-action {
  display: flex;
  gap: 10px;
}

.task-container {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.single-task {
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 20px;
  padding: 10px;
  border: 1px orange solid;
  background-color: beige;
  border-radius: 10px;
}

.single-task.overdue {
  background-color: red;
  border: 2px solid red;
}

.button-container {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.search-task {
  min-height: 20px;
}

.filter-container {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.task-count {
  margin-top: 40px;
  display: flex;
  gap: 30px;
}
