.editor {
  min-width: 50%;
  min-height: 50px;
}

.task-editor,
.task-condition,
.task-action {
  margin-top: 20px;
}

.task-summary {
  margin-top: 50px;
}

.task-condition,
.task-action {
  display: flex;
  gap: 10px;
}
